@model BankManager.Client

@{
    ViewBag.Title = "Delete";
}
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/jqwidgets/styles/jqx.base.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/jqwidgets/styles/jqx.energyblue.css")" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcore.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxdatetimeinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcalendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxtooltip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxbuttons.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxscrollbar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxlistbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcombobox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcheckbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxdata.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.selection.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.filter.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqx-all.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxwindow.js")"></script>
</head>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Client</legend>

    <div class="display-label">ClientContactNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientContactNumber)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">DateOfBirth</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">PhoneNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">Deposit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deposit)
    </div>

    <div class="display-label">ClientStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientStatus.StatusName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
