@model BankManager.Client

@{
    ViewBag.Title = "Details";
}

<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/jqwidgets/styles/jqx.base.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/jqwidgets/styles/jqx.energyblue.css")" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcore.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxdatetimeinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcalendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxtooltip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxbuttons.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxscrollbar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxlistbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcombobox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcheckbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxdata.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.selection.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.filter.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqx-all.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxwindow.js")"></script>
</head>
<p>
    <img src="../../Content/Images/edit.gif" />
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id })
</p>
<fieldset>
    <legend>Client details</legend>
<table>
    <tr>
        <td>
            <div class="display-label">Client Contact Number:</div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.ClientContactNumber)
            </div>
        </td>
    </tr>
    <tr>
        <td>
    <div class="display-label">FirstName</div>
        </td>
        <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>
        </td>
    </tr>

    <tr>
        <td>

    <div class="display-label">LastName</div>
        </td>
        <td>    
            <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
        </td>
    </tr>

    <tr>
        <td>

    <div class="display-label">DateOfBirth</div>
        </td>
        <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>
        </td>
    </tr>

    <tr>
        <td>

    <div class="display-label">PhoneNumber</div>
        </td>
        <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
        </td>
    </tr>

    <tr>
        <td>

    <div class="display-label">Deposit</div>
        </td>
        <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deposit)
    </div>
        </td>
    </tr>

    <tr>
        <td>
    <div class="display-label">ClientStatus</div>
        </td>
        <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientStatus.StatusName)
    </div>
        </td>
    </tr>
</table>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
