
@model BankManager.Client

@{
    ViewBag.Title = "Create client";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <fieldset>
        <legend>Create client</legend>
<table>
    <tr>
        <td style="text-align:right">
        <div class="editor-label">
            @Html.LabelFor(model => model.ClientContactNumber):
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClientContactNumber)
            @Html.ValidationMessageFor(model => model.ClientContactNumber)
        </div>
        </td>
    </tr>
    <tr>
        <td  style="text-align:right">
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName):
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        </td>
    </tr>
    <tr>
        <td  style="text-align:right">
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName):
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        </td>
    </tr>
    <tr>
        <td  style="text-align:right">
        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth):
        </div>
        </td>
        <td>
        <div class="editor-field" id="DateOfBirth">
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
        </td>
    </tr>
    <tr>
        <td  style="text-align:right">
        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber):
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
        </td>
    </tr>
    <tr>
        <td  style="text-align:right">
        <div class="editor-label">
            @Html.LabelFor(model => model.Deposit):
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Deposit)
            @Html.ValidationMessageFor(model => model.Deposit)
        </div>
        </td>
    </tr>
    <tr>
        <td  style="text-align:right">
        <div class="editor-label">
            @Html.LabelFor(model => model.StatusID, "ClientStatus"):
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.DropDownList("StatusID", String.Empty)
            @Html.ValidationMessageFor(model => model.StatusID)
        </div>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        <p>
            <input type="submit" value="Create" />
        </p>

        </td>
    </tr>
</table>
</fieldset>    
}