
@{
    ViewBag.Title = "Index";
}

<p>
    <img src="../../Content/Images/edit.gif" />
    @Html.ActionLink("Create New", "../Client/Create")
</p>
<p>
    <img src="../../Content/Images/print.png" />
    @Html.ActionLink("Print", "../Home")
</p>

<link href="@Url.Content("~/Content/themes/base/TableSky.css")" rel="stylesheet" type="text/css" />

<div id="jqxgrid">
    <table class="ui-jqgrid-htable">
        <tr>
            <th>
                Client Contact Number
            </th>
            <th>
                ID
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Deposit
            </th>
            <th>
                Status
            </th>
            <th>
                Modify
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
        @foreach (var p in Model)
        {
                <tr>
                    <td>
                        @p.ClientContactNumber
                    </td>
                    <td>
                        @p.Id
                    </td>
                    <td>
                        @p.FirstName
                    </td>
                    <td>
                        @p.LastName
                    </td>
                    <td>
                        @p.DateOfBirth
                    </td>
                    <td>
                        @p.PhoneNumber
                    </td>
                    <td>
                        @if (p.Deposit) {
                            <input type="checkbox" checked disabled="disabled"/>
                        } else {
                            <input type="checkbox" disabled/> 
                        }
                        
                    </td>
                    <td>
                        @p.ClientStatus.StatusName
                    </td>
                    <td>
                        <a href="Client/Edit/@p.Id"> <img src="../../Content/Images/editoriginal.gif" /> </a>
                    </td>
                    <td>
                        <a href="Client/Details/@p.Id"> <img src="../../Content/Images/Details.png" /> </a>
                    </td>
                    <td>
                        <a href="Client/Delete/@p.Id"> <img src="../../Content/Images/delete.gif" /> </a>
                    </td>
                </tr>
        }
    </table>
</div>
<br/>